
<div id="checkin_modal" class="modal hide" aria-hidden="true"
  style="background: src('/assets/foursquare-logo.jpg') no-repeat; ">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h3 id="myModalLabel">Checkin</h3>
  </div>

   <%= form_tag('/venue/checkin') do |f| %>
      <div class="modal-body"></div>
   <% end %>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
  </div>
</div>
