
<div id="file_upload_modal" class="modal hide" aria-hidden="true">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h3 id="myModalLabel">Upload files</h3>
  </div>

  <div class="modal-body">
    <form>
      <div id="queue"></div>
      <input id="file_upload" name="upload_queue" type="file" multiple="true">
      <a class = "btn btn-large" href="javascript:$('#file_upload').uploadifive('upload')">Upload Files</a>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
  </div>
</div>

<script type="text/javascript">
$(function() {
  $('#file_upload').uploadifive({
    'auto' : false,
    'queueID': 'queue',
    'uploadScript'     : "/venue/<%= params[:fid] %>/upload",
    'onUploadComplete' : function(file, data) { console.log(data); }
  });
});
</script>


