<div id= "user_profile_picture" class = "hide" data-url="<%= @user.photo %>"></div>
<div id = "home_checkin" class="listview-container grid-layout">
	<div id = "checkin_container" class = "navbar-form pull-left" style="width:100%;">
	  <%= form_tag('/venue/checkin') do |f| %>
	    <div id = "checkin_form" class = "">
	      <%= hidden_field_tag :user_latitude %>
	      <%= hidden_field_tag :user_longitude %>
	      <%= text_field_tag 'venue_id',nil,
	        placeholder:"Start typing venue name:",
	        class: "input-large disabled" %>
	    </div>
	      
	  <% end %>
	</div>

	<div id = "checkin_map" style="width: 100%;">
		<div id="mapDiv"></div>
		<div id="progress" class="progress hidden"></div>
	</div>
</div>