<div id = "latest_checkin" class="listview-container grid-layout">
  <% @latest_checkins.each do |checkin| %>
    <% venue = checkin.venue %>
    <div class="mediumListIconTextItem checkin-item"
        data-checkin="<%= checkin.fid %>"
        data-venue="<%= venue.fid %>"
        data-ll="<%= venue.location['lat'] %>,<%= venue.location['lng'] %> "
        data-broadcast= "shout">
	    <div class="icon-location mediumListIconTextItem-Image"></div>
      <div class="mediumListIconTextItem-Detail">
        <% venue = checkin.venue %>
        <% unless venue.nil? %>
          <h4><%= venue.name %></h4>
          <h6>You checked in here
          <%= distance_of_time_in_words_to_now(checkin.created_at.utc) %> ago.</h6>
        <% else %>
          <h4> &lt;Secret place&gt; </h4>
          <h6> Classified - and we can tell you nothing. </h6>
        <% end %>
      </div>
    </div>
  <% end %>
<div>
