<div id = "top_checkin" class="listview-container grid-layout">
<div class="mediumListIconTextItem" >
	<div class="icon-location mediumListIconTextItem-Image"></div>
    	<div class="mediumListIconTextItem-Detail">
        	<h4>LOcation</h4>
        	<h6>Description</h6>
      	</div>
    </div>
<div>