<header>
  <h2>Home View</h2>
  <p>For checkin you can search venue, select your venue among your top places. </p>
</header>

<div>
  <p>
     <a href="<%= home_url %>"
      class="btn btn-large <%= 'btn-primary selected' if @page.nil? %> "
      type="button">
      CheckIn
    </a>
     <a href="<%= home_url %>?page=latest"
        class="btn btn-large <%= 'btn-primary selected' if @page == 'latest' %>" type="button">
        Latest checkins
    </a>
     <a href="<%= home_url %>?page=top"
        class="btn btn-large <%= 'btn-primary selected' if @page == 'top' %>" 
        type="button">Top checkins</button>
     <a href="<%= home_url %>?page=friends"
        class="btn btn-large <%= 'btn-primary selected' if @page == 'friends' %>" type="button">
        Friends checkins
     </a>
  </p>
  <%=
    case @page
    when "latest" then render "latest_checkin"
    when "top" then render "top_checkin"
    when "friends" then render "friends_checkin"
    else render "checkin"
    end %>

    <%= render "shared/checkin_modal" %>
</div>

