  

<div class="metro-sections">
  <!-- section -->
  <div id="section1" class= "metro-section tile-span-5">
    <div class = "landingpage-well">
      <span class = "landingpage-icon" aria-hidden="true" data-icon="&#x0032;"></span>
    </div>
      <div class= "landingpage-title">DropLocally</div>
   </div>

<!-- SECTION2 -->

   <div id="section2" class="metro-section tile-span-3">
     <a class="tile wide imagetext bg-color-blueDark" href="<%= @authorization_url %>">
         <div class="image-wrapper">
           <span data-icon="&#x0060;" style = "font-size: 5em;"></span> 
         </div>
         <div class="column-text">
            <div class="text3">
              Log in
            </div>
         </div>
         <div class="app-label">Create active session</div>
      </a>


      <a class="tile app wide bg-color-greenDark" href="./table.html">
         <div class="image-wrapper">
            <img src="/assets/My Apps.png" alt=""/>
         </div>
         <div class="app-label">Styled Table</div>
      </a>

      <a class="tile wide imagetext wideimage bg-color-orange" href="./appbar-demo.html">
         <img src="/assets/appbar.png" alt=""/>
         <div class="textover-wrapper bg-color-blue">
            <div class="text1">Application Bar</div>
         </div>
      </a>


   </div>

</div>

