/* Metro Tiles
-------------------------------------------------- */

.bg-color-blue {
   background-color: #0072BC !important;
}
.bg-color-blueDark {
   background-color: #662D91 !important;
}
.bg-color-green {
   background-color: #01a31c !important;
}
.bg-color-greenDark {
   background-color: #008641 !important;
}
.bg-color-red {
   background-color: #bc1c48 !important;
}
.bg-color-yellow {
   background-color: #ffc40d !important;
}
.bg-color-orange {
   background-color: #CD4900 !important;
}
.bg-color-pink {
   background-color: #c3325f !important;
}
.bg-color-purple {
   background-color: #603cba !important;
}
.bg-color-darken {
   background-color: #1c1c1c !important;
}



.metro {
   overflow: hidden;
}


.metro .carousel-control {
   top: 20%;
}



.metro .metro-sections {
   height: auto;
   position: relative;
   overflow: hidden;
   width: 10000px;
}

   .metro-sections h2 {
      margin-left: 5px;
      font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
      font-weight: 300;
      text-transform: lowercase;
   }

.metro .metro-sections .metro-section {
   position: relative;
   float: left;
   /*width: 810px !important;*/
   width: auto;
   height: auto;
   margin-right: 75px;
}


/* fixed widths for tile sections
   units are measured per square tile width, i.e.: tile-span-1 = 160px = 1 square tile width (including margin)
 */
.metro .metro-sections .metro-section.tile-span-1 { width: 160px; margin-left: 0;}
.metro .metro-sections .metro-section.tile-span-2 { width: 320px; margin-left: 0;}
.metro .metro-sections .metro-section.tile-span-3 { width: 480px; margin-left: 0;}
.metro .metro-sections .metro-section.tile-span-4 { width: 640px; margin-left: 0;}
.metro .metro-sections .metro-section.tile-span-5 { width: 640px; margin-left: 0;}
.metro .metro-sections .metro-section.tile-span-6 { width: 800px; margin-left: 0;}
.metro .metro-sections .metro-section.tile-span-7 { width: 960px; margin-left: 0;}
.metro .metro-sections .metro-section.tile-span-8 { width: 1120px; margin-left: 0;}


/*default tile definition */
.metro .tile {
   position: relative;
   display: block;
   float: left;
   margin: 5px;
   padding: 0;
   /*padding-bottom: 1px;*/
   width: 150px;
   height: 150px;
   color: #FFF;
   cursor: pointer;
   overflow: hidden;
   text-decoration: none;
   background-color: #2C83EF;
}
   .metro .tile:hover {
      outline: 3px #225a68 solid;
   }


.scroll {
   -webkit-transition:left 0.6s ease;  /* here the animation is set on 5 seconds */
      -moz-transition:left 0.6s ease;  
        -o-transition:left 0.6s ease;
           transition:left 0.6s ease;
}

/* Metro Tiles Templates
-------------------------------------------------- */
.metro .tile.square.text {
   width: 110px;
   height: 110px;
   padding: 20px;
}
.metro .tile.square.image {
   width: 150px;
   height: 150px;
   padding: 0;
}
   .metro .tile.square.image img {
      max-width: 150px;
      max-height: 150px;
   }

.metro .tile.squarepeek {
   width: 150px;
   height: 300px;
}
   .metro .tile.squarepeek .text-inner {
      width: 110px;
      height: 110px;
      padding: 20px;
   }

.metro .tile.wide.text {
   width: 270px;
   height: 110px;
   padding: 20px;
}
.metro .tile.wide.image {
   width: 310px;
   height: 150px;
}
   .metro .tile.wide.image.collection img {
      max-width: 158px;
      max-height: 150px;
      float: left;
   }

/* template for full image */
.metro .tile.wide.imagetext.wideimage {
   width: 310px;
   height: 150px;
   padding: 0;
}
/* template with normal 80x80 image */
.metro .tile.wide.imagetext {
   width: 270px;
   height: 110px;
   padding: 20px;
}
   .metro .tile.wide.imagetext .textover-wrapper {
      position: absolute;
      bottom: 0;
      width: 270px;
      height: 48px;
      padding: 2px 20px;
      background-color: inherit;
   }

.metro .tile.widepeek {
   width: 310px;
   height: 300px;
}





/* Default Tile
-------------------------------------------------- */

.metro .tile.app .image-wrapper {
   display: block;
   width: 150px;
   height: 80px;
   margin-top: 20px;
   padding: 8px 0;
   text-align: center;
   vertical-align: middle;
}
   .metro .tile.app .image-wrapper img {
      max-width: 80px;
      max-height: 80px;
      margin: 0 auto;
   }
   .metro .tile .app-label {
      bottom: 5px;
      font-size: 12px;
      left: 20px;
      position: absolute;
   }
   .metro .tile .app-count {
      position: absolute;
      right: 20px;
      bottom: 10px;
      font-size: 14px;
      font-weight: bold;
   }

.metro .tile.wide.app {
   width: 310px;
   height: 150px;
}
   .metro .tile.wide.app .image-wrapper {
      width: 310px;
   }


.image-wrapper span.icon {
   font-size: 80px; 
   height: 80px; 
   line-height: 80px; 
   width: 80px;
}

/*
-------------------------------------------------- */

.metro .tile.square.text .text-big {
   font-size: 76px;
   line-height: 76px;
   text-align: left;
   overflow: hidden;
}
.metro .tile.square.text.tilesquareblock .text {
   font-size: 14px;
   font-weight: bold;
   text-align: left;
   overflow: hidden;
}

/* normal header in 1 line of wrapped text*/
.metro .tile .text-header {
   font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
   font-weight: 300;
   font-size: 34px;
   line-height: 36px;
   max-height: 36px;
   text-align: left;
   overflow: hidden;
}
/* One string of large text wrapped over a maximum of three lines.*/
.metro .tile .text-header3 {
   font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
   font-weight: 300;
   font-size: 34px;
   line-height: 36px;
   text-align: left;
   max-height: 110px;
   overflow: hidden;
}

/* 1 line of regular text (not wrapped) */
.metro .tile .text {
   font-size: 15px;
   line-height: 18px;
   height: 18px;
   font-weight: normal;
   text-align: left;
   overflow: hidden;
}

/* regular text wrapped over a maximum of 2 lines */
.metro .tile .text2 {
   font-size: 15px;
   font-weight: normal;
   line-height: 20px;
   max-height: 44px;
   overflow: hidden;
   text-align: left;
}

/* regular text wrapped over a maximum of 3 lines */
.metro .tile .text3 {
   font-size: 15px;
   line-height: 18px;
   font-weight: normal;
   text-align: left;
   max-height: 56px;
   overflow: hidden;
}

/* regular text wrapped over a maximum of 4 lines */
.metro .tile .text4 {
   font-size: 15px;
   line-height: 18px;
   font-weight: normal;
   text-align: left;
   max-height: 72px;
   overflow: hidden;
}

/* regular text wrapped over a maximum of 5 lines */
.metro .tile .text5 {
   font-size: 15px;
   line-height: 18px;
   font-weight: normal;
   text-align: left;
   max-height: 92px;
   overflow: hidden;
}

/* Image Only Tiles
-------------------------------------------------- */
.metro .tile.square.image img {
   max-width: 150px;
   max-height: 150px;
}



/* Wide Text Only Tiles
-------------------------------------------------- */

.metro .tile .column {
   display: block;
   float: left;
   width: 130px;
}

.metro .tile .column2-label  {
   display: block;
   float: left;
   width: 90px;
}
.metro .tile .column2-text {
   display: block;
   float: left;
   width: 160px;
}

.metro .tile .column3-label  {
   display: block;
   float: left;
   width: 50px;
}
.metro .tile .column3-text {
   display: block;
   float: left;
   width: 200px;
}


/* Wide Image Only Tiles
-------------------------------------------------- */
.metro .tile.wide.image .mini-tiles {
   display: inline-block;
   float: left;
   width: 152px;
   height: 150px;
}
.metro .tile.wide.image .mini-tiles img {
   display: inline-block;
   float: left;
   max-width: 75px;
   max-height: 75px;
   border-left: 1px solid #2A2A2A;
}

/* Wide Image & Text Tiles
-------------------------------------------------- */
.metro .tile.wide.imagetext .column-text,
.metro .tile.wide.text .column-text {
   display: block;
   float: left;
   width: 180px;
   padding-left: 10px;
}
.metro .tile.wide.text .column-text-big {
   display: block;
   float: left;
   width: 80px;
}

.metro .tile.wide.imagetext .image-wrapper {
   display: block;
   float: left;
   width: 80px;
   height: 80px;
}
   .metro .tile.wide.imagetext .image-wrapper img {
      max-width: 80px;
      max-height: 80px;
   }


/* ListView
 -------------------------------------------------- */
.listview-container.grid-layout {
   border: solid 2px rgba(0, 0, 0, 0.13);
   height: 415px;
   overflow: auto;
   padding: 2px;
   background-color: #FFF;
}


.mediumListIconTextItem {
   display: inline-block;
   position: relative;
   vertical-align: top;;
   width: 282px;
   height: 70px;
   padding: 5px;
   margin-bottom: 5px;
   margin-right: 24px;
   border: solid 3px transparent;
   overflow: hidden;
   background-color: #FFF;
   cursor: pointer;
}
   .mediumListIconTextItem:hover {
      border: solid 3px #b3b3b3;
      background-color: #b3b3b3;
   }

   .mediumListIconTextItem img.mediumListIconTextItem-Image {
      display: inline-block;
      vertical-align: top;;
      width: 60px;
      height: 60px;
      margin: 5px;
   }
   .mediumListIconTextItem .mediumListIconTextItem-Image[class^="icon-"],
   .mediumListIconTextItem .mediumListIconTextItem-Image[class*=" icon-"] {
      display: inline-block;
      width: 60px;
      height: 60px;
      font-size: 60px;
      line-height: 60px;
      margin: 5px;
   }
   .mediumListIconTextItem .mediumListIconTextItem-Detail {
      display: inline-block;
      vertical-align: top;;
      margin: 5px;
      width: 60%;
   }


.mediumListIconTextItem.selected {
   background-color: #4617b4;
}
   .mediumListIconTextItem.selected:after {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 16px;
      height: 16px;
      font-family: 'IcoMoon';
      content: "\e03c";
      color: #FFF;
      font-size: 16px;
   }

   .mediumListIconTextItem.selected:hover {
      border: solid 3px #b3b3b3;
      background-color: #4617b4;
   }
   .mediumListIconTextItem.selected .mediumListIconTextItem-Detail,
   .mediumListIconTextItem.selected .mediumListIconTextItem-Detail h4,
   .mediumListIconTextItem.selected .mediumListIconTextItem-Detail h6 {
      color: #FFF;
   }






/* Special undocumented tiles for ads
-------------------------------------------------- */
#ad-container {
   background-color: #0072BC;
   height: 90px;
   margin-top: 10px;
   text-align: center;
   width: 100%;
}

/*Button (125x125)*/
.metro .tile.ad.ad125 {
   width: 125px;
   height: 125px;
   padding: 12px 13px 13px 12px;
}

/*Small Rectangle (180x150)*/
.metro .tile.wide.ad.ad125 {
   width: 180px;
   height: 150px;
   padding: 0 65px;
}