body#landingpage {
  background: url('/assets/bg.png') no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.landingpage-well {
  height 80%;
  min-height: 450px;
}
.landingpage-icon {
  color: #890808;
  font-size: 25em;
  left: 190px;
  position: relative;
  right: 91%;
  top: 170px;
}

.landingpage-title {
  color: #890808;
  font-size: 8em;
  font-weight: 600;
  margin-top: -50px;
  text-align: center;

}

#checkin_container {
  width: 100%;
  z-index: 1000;
}

.uploadifive-button {
  float: left;
  margin-right: 10px;
}

#queue {
  border: 1px solid #cbcbcb;
  height: 177px;
  overflow: auto;
  margin-bottom: 10px;
  padding: 0 3px 3px;
  width: 95%;
}
