<div id="folderview-grid" class="listview-container grid-layout">
<% unless @folder_files.nil? %>
  <% @folder_files.each do |fileitem| %>
    <div class="mediumListIconTextItem file-item" data-s3_name="<%= fileitem.s3_name %>">
      <% content_type = fileitem[:content_type] %>
      <% fileicon = "icon-paper" %>
      <% fileicon = "icon-file-xml" if content_type =~ /xml/i %>
      <% fileicon = "icon-file-image" if content_type =~ /pdf/i %>
      <% fileicon = "icon-folder" if fileitem.folder %>

      <div class="<%= fileicon %> mediumListIconTextItem-Image"></div>
      <div class="mediumListIconTextItem-Detail">
        <h4><%= fileitem[:original_name]  %></h4>
        <h6>Added by: <%= fileitem.owner.firstname %>,
          <%= fileitem.owner.lastname %>
          <br /> at <%= fileitem.created_at.utc %>
          <br />
          <%= fileitem[:content_type] %>
        </h6>
      </div>
    </div>
  <% end %>
<% else %>
  <h2> No files yet. </h2>
  <p> You can upload easily by clicking on add or upload buttons below </p>
<% end %>
</div>
