<header>
  <% unless @venue.nil? %>
    <h2><%= (@venue[:name] || "Venue") %></h2>
    <p><%= (@venue[:contacts] || "") %> </p>
  <% end %>
</header>

<%= render 'folderview' %>
<%= render 'folderbar' %>

