<!DOCTYPE html>
<html lang="en">
<head>
  <title>Droplocally</title>
  <link 
  href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'
  rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" type="text/css" href="http://serverapi.arcgisonline.com/jsapi/arcgis/3.3/js/esri/css/esri.css" />
  <script type="text/javascript" src="http://serverapi.arcgisonline.com/jsapi/arcgis/3.3compact"></script>
</head>
<body>
<!-- Header
 ================================================== -->
<header id="nav-bar" class="container-fluid">
  <div class="row-fluid">
     <div class="span8">
        <div id="header-container">
           <a id="backbutton" class="win-backbutton" href="#"></a>
           <h5>Menu</h5>
           <div class="dropdown">
              <a class="header-dropdown dropdown-toggle accent-color" data-toggle="dropdown" href="#" >
                 DropLocally
                 <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="<%= url_for root_url %>">Landing page</a></li>
                <li class="divider"></li>
                <li><a href="<%= url_for home_url %>">Main Page</a></li>
              </ul>
            </div>
        </div>
      </div>
      <div id="top-info" class="pull-right">
      <a href="#" class="pull-left">
        <div class="top-info-block">
          <h3><%= @current_user.firstname %></h3>
          <h4><%= @current_user.lastname %></h4>
        </div>
        <div class="top-info-block">
           <b class="icon-user"></b>
        </div>
     </a>
     <hr class="separator pull-left"/>
     <a id="settings" class="pull-left" href="#">
        <b class="icon-settings"></b>
     </a>
    </div>
  </div>
 </div>
</header>
   
<section class= "container-fluid">
  <div class="row-fluid">
    <div class="metro span12">
      <%= yield %>
    </div>
  </div>
</section>
</body>
</html>
