<!DOCTYPE html>
<html lang="en">
<head>
  <title>Droplocally</title>
  <link 
  href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'
  rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id = "landingpage">

<section class= "container-fluid">
  <div class="row-fluid">
    <div class="metro span12">
      <%= yield %>
    </div>
  </div>
</section>
</body>
</html>
